<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
    <div class="note note-success note-bordered">
        <h3>Welkom bij Super 11<span data-close="note"></span></h3>

        <p>
            Beste voetballiefhebber,
            <br><br>
            Dit jaar organiseer ik voor het eerst de Super 11 voetbalpool.
            De Super 11 is een vrij eenvoudige voetbalpool waarbij je een team selecteert van 11 eredivisiespelers (max.
            1 speler per club). Je spelers verdienen punten door middel van hun verrichtingen in de Eredivisie. Naast
            het maken van jouw eigen team voorspel je de eindstand van de Eredivisie, beantwoord je een aantal
            bonusvragen en voorspel je de uitslagen van een aantal voetbalkrakers die komend seizoen op de Europese
            velden gespeeld gaan worden.<br><br>

            Voor de volledige uitleg en puntentelling verwijs ik je naar de spelregels.
            <br><br>
            De puntentelling begint vanaf speelronde 5 en de inleg is 10 euro. Zorg ervoor dat je deelnameformulier
            uiterlijk zaterdag 12 september 2015 om 18.30 uur ingestuurd is.
            <br><br>
            Wie wordt de winnaar van de Super 11 seizoen 2015-2016?
            <br><br>
            Succes met het formeren van je team!
        </p>
    </div>
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        3
                    </div>
                    <div class="desc">
                        Deelnemers
                    </div>
                </div>
                <a class="more" href="participants.html">
                    View more <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red-intense">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        3
                    </div>
                    <div class="desc">
                        Deelnemers
                    </div>
                </div>
                <a class="more" href="participants.html">
                    View more <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-madison">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        3
                    </div>
                    <div class="desc">
                        Deelnemers
                    </div>
                </div>
                <a class="more" href="participants.html">
                    View more <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red-intense">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        Nummer 1
                    </div>
                    <div class="desc">
                        Werner Holzapfel
                    </div>
                </div>
                <a class="more" href="#">
                    View more <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- END DASHBOARD STATS -->
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <!-- BEGIN REGIONAL STATS PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-green-haze"></i>
                        <span class="caption-subject font-green-haze bold uppercase">Super 11 Updates</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                        <ul class="feeds">
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
                                                Marvin de Ruiter nog geen punten
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        Just now
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="scroller-footer">
                        <div class="btn-arrow-link pull-right">
                            <a href="#">See All Records</a>
                            <i class="icon-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END REGIONAL STATS PORTLET-->
        </div>
        <div class="col-md-6 col-sm-6">
            <!-- BEGIN PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze"></i>
                        <span class="caption-subject font-green-haze bold uppercase">Social Feeds</span>
                    </div>
                    <div class="inputs">
                        <div class="portlet-input input-inline input-small ">
                            <div class="input-icon right">
                                <i class="icon-magnifier"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="search...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 329px;" data-always-visible="1" data-rail-visible1="0"
                         data-handle-color="#D7DCE2">
                        <div class="general-item-list">
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic" src="../../../assets/admin/layout2/img/avatar4.jpg">
                                        <a href="" class="item-name primary-link">Nick Larson</a>
                                        <span class="item-label">3 hrs ago</span>
                                    </div>
                                    <span class="item-status"><span class="badge badge-empty badge-success"></span> Open</span>
                                </div>
                                <div class="item-body">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic" src="../../../assets/admin/layout2/img/avatar3.jpg">
                                        <a href="" class="item-name primary-link">Mark</a>
                                        <span class="item-label">5 hrs ago</span>
                                    </div>
                                    <span class="item-status"><span class="badge badge-empty badge-warning"></span> Pending</span>
                                </div>
                                <div class="item-body">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat tincidunt ut
                                    laoreet.
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic" src="../../../assets/admin/layout2/img/avatar6.jpg">
                                        <a href="" class="item-name primary-link">Nick Larson</a>
                                        <span class="item-label">8 hrs ago</span>
                                    </div>
                                    <span class="item-status"><span class="badge badge-empty badge-primary"></span> Closed</span>
                                </div>
                                <div class="item-body">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic" src="../../../assets/admin/layout2/img/avatar7.jpg">
                                        <a href="" class="item-name primary-link">Nick Larson</a>
                                        <span class="item-label">12 hrs ago</span>
                                    </div>
                                    <span class="item-status"><span class="badge badge-empty badge-danger"></span> Pending</span>
                                </div>
                                <div class="item-body">
                                    Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing
                                    elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                    volutpat.
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic" src="../../../assets/admin/layout2/img/avatar9.jpg">
                                        <a href="" class="item-name primary-link">Richard Stone</a>
                                        <span class="item-label">2 days ago</span>
                                    </div>
                                    <span class="item-status"><span class="badge badge-empty badge-danger"></span> Open</span>
                                </div>
                                <div class="item-body">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, ut laoreet dolore magna
                                    aliquam erat volutpat.
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic" src="../../../assets/admin/layout2/img/avatar8.jpg">
                                        <a href="" class="item-name primary-link">Dan</a>
                                        <span class="item-label">3 days ago</span>
                                    </div>
                                    <span class="item-status"><span class="badge badge-empty badge-warning"></span> Pending</span>
                                </div>
                                <div class="item-body">
                                    Lorem ipsum dolor sit amet, sed diam nonummy nibh euismod tincidunt ut laoreet
                                    dolore magna aliquam erat volutpat.
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic" src="../../../assets/admin/layout2/img/avatar2.jpg">
                                        <a href="" class="item-name primary-link">Larry</a>
                                        <span class="item-label">4 hrs ago</span>
                                    </div>
                                    <span class="item-status"><span class="badge badge-empty badge-success"></span> Open</span>
                                </div>
                                <div class="item-body">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
	Index.init();    
	Tasks.initDashboardWidget();

</script>
<!-- BEGIN MAIN JS & CSS -->