<!-- BEGIN PAGE HEADER-->
<div ng-controller="TeamTableApiController">
    <h3 class="page-title ng-scope">
        Stand
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb breadcrumb ng-scope">
            <li>
                <a href="#/dashboard.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">Stand</li>
        </ul>
        <div class="page-toolbar">
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT -->

    <div class="row">
        <!-- The actual modal template, just a bit o bootstrap -->
        <!--MODAL WINDOW-->
        <script type="text/ng-template" id="eredivisiestandModel.html">
                    <div class="modal-header">
                         <button type="button" class="close" ng-click=close()>&times;</button>
                        <h4>{{score.Participant.Name}} heeft {{score.TotalEindstandScore}} punten voor de eindstand.</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-scrollable">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th> Positie</th>
                                            <th> Voorspelling</th>
                                            <th> Werkelijk</th>
                                            <th> Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="line in score.TableScore | orderBy :'Position'">
                                            <td> {{line.Position}}</td>
                                            <td><img class="clubicon"
                                                     ng-src="tableclubicons/{{line.SelectedTeam  | lowercase}}.png">
                                            {{line.SelectedTeam}}</td>
                                            <td> {{line.UitslagPosition}}</td>
                                            <td> {{line.Score}}</td>
                                        </tr>
                                    </tbody>
                           </table>
                           </div>

                    </div>
                    <div class="modal-footer">

                    </div>
                </script>

        <div class="col-md-12" ng-show="newTotalTeamTable">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <uib-tabset active="active">

                <uib-tab heading="Eredivisie">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="table-scrollable">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>
                                                Naam
                                            </th>
                                            <th>
                                                Totaal Score
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="regel in eredivisiestandstand">
                                            <td ng-model="position" ng-value="$index+1" ng-if="regel.TotalEindstandScore !== eredivisiestandstand[$index-1].TotalEindstandScore">
                                                {{$index +1}}
                                            </td>
                                            <td ng-model="position" ng-value="eredivisiestandstand[$index-1].position" ng-if="regel.TotalEindstandScore === eredivisiestandstand[$index-1].TotalEindstandScore">
                                                <span ng-bind="position"> </span> {{eredivisiestandstand[$index-1].position}}
                                            </td>
                                            <td>
                                                <a href="#" ng-click="showEredivisieStandModel(regel)">{{ regel.Participant.Name}}</a>
                                            </td>
                                            <td>
                                                {{regel.TotalEindstandScore}}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>

            </uib-tabset>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
    <!-- END MAIN CONTENT -->
    <!-- BEGIN MAIN JS -->
    <script>
	function AdvancedDatatablesDemoCtrl($scope) {
		TableAdvanced.init();
	}


</script>
    <!-- END MAIN JS -->
