<!-- BEGIN PAGE HEADER-->
<h3 class="page-title ng-scope">
    Hall of Fame
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb breadcrumb ng-scope">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li class="active"> Hall Of Fame</li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bar-chart"></i>Winnaars
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Jaar</th>
                                <th>Nr. 1</th>
                                <th>Nr. 2</th>
                                <th>Nr. 3</th>
                                <th>Deelnemers</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2015/2016</td>
                                <td>Jeroen Budel</td>
                                <td>Jan Bruinsma</td>
                                <td>Remy Verberkt</td>
                                <td>40</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
	function AdvancedDatatablesDemoCtrl($scope) {
		TableAdvanced.init();
	}

</script>
<!-- END MAIN JS -->