<!-- BEGIN PAGE HEADER-->
<h3 class="page-title ng-scope">
    Registratie Formulier
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb breadcrumb ng-scope">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li class="active">Registratie Formulier</li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="RegistrationApiController" ng-if=isLoggedIn()>
    <div class="col-md-12">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
        </uib-alert>
        <div ng-hide="showConfirm">
            <form name="participantForm" class="form-horizontal form-bordered" ng-show="showParticipant">
                <uib-alert type="success" ng-show="participantForm.$invalid" close="closeAlert($index)">{{participantMsg}}
                </uib-alert>
                <!-- BEGIN TABLE PORTLET-->
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-user"></i>Schrijf je nu in
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse" data-original-title="" title="">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <table class="table table-striped">
                            <tr>
                                <td>Naam</td>
                                <td>
                                    <input type="text" name="Name" required ng-model="data.Participant.Name" />
                                    <br/>

                                    <div ng-show="form.$submitted || form.Name.$touched">
                                        <div ng-show="form.Name.$error.required">Wat is je naam?</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Woonplaats</td>
                                <td>
                                    <input type="text" name="Location" required ng-model="data.Participant.Location" />
                                    <br/>

                                    <div ng-show="form.$submitted || form.Location.$touched">
                                        <div ng-show="form.Location.$error.required">Wat is je woonplaats?</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td> Geslacht</td>
                                <td>
                                    <input type="radio" name="Gender" required ng-model="data.Participant.Gender" value="Man">Man
                                    <input type="radio" name="Gender" required ng-model="data.Participant.Gender" value="Vrouw">Vrouw
                                </td>
                            </tr>

                            <tr>
                                <td>Telefoon</td>
                                <td>
                                    <input type="tel" name="PhoneNumber" required ng-model="data.Participant.PhoneNumber" />
                                    <br/>

                                    <div ng-show="form.$submitted || form.PhoneNumber.$touched">
                                        <span ng-show="form.PhoneNumber.$error.required">Wat is je telefoonnummer?</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button value="Next" ng-disabled="participantForm.$invalid" ng-click="tableView()">Volgende</button>
            </form>

            <form name="tableForm" class="form-horizontal form-bordered" ng-show="showTable">
                <uib-alert type="success" ng-show="tableForm.$invalid" close="closeAlert($index)">{{tableMsg}}</uib-alert>
                <div class="row">
                    <div class="col-md-6">
                        <div class="portlet box green ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-user"></i>Eindstand Eredivisie
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="mt-element-list">
                                    <div class="mt-list-head list-simple font-white">
                                        <div class="list-head-title-container">
                                        </div>
                                    </div>
                                    <div class="mt-list-container list-simple">
                                        <ul ui-sortable="sortableOptions" ng-model="data.Table">
                                            <li ng-repeat="team in data.Table" class="mt-list-item draggablePointer">
                                                {{$index+1}} {{team.SelectedTeam}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <button value="Previous" ng-click="participantView()" ng-show="showTable">Terug</button>
                <button value="Next" ng-disabled="tableForm.$invalid" ng-click="teamView()">Volgende</button>
            </form>

            <form name="teamForm" class="form-horizontal form-bordered" ng-show="showTeam">
                <uib-alert type="success" ng-show="tableForm.$invalid" close="closeAlert($index)">{{teamMsg}}</uib-alert>
                <div class="row">
                    <div class="col-md-6">


                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-user"></i>Kies je team
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body form">

                                <div class="table-scrollable">

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td>Formatie:
                                                    <select ng-name="selectedFormation" required ng-model="selectedFormation" ng-change="setFormation(selectedFormation)">
                                                <option ng-model="formations" ng-repeat="formation in formations"
                                                        ng-value="formation.Formation" value="{{formation.Formation}}" >
                                                    {{formation.Formation}}
                                                </option>

                                            </select>


                                      

                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="pos in playerPositions">
                                            <tr>
                                                <td> {{pos.PositionUi}}</td>
                                            </tr>
                                            <tr ng-repeat="player in data.Team | filter : {Position:pos.Position}">
                                                <td> <span ng-if="player.PlayerName == ''"> Kies een {{pos.PositionUi}}</span> 
                                                                                                   {{player.PlayerName}}
                                                </td>
                                                <td><button ng-if="player.PlayerName != ''" ng-click="removeplayerfromteam(player)">-</button></td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td>Captain: 
                                                    <select ng-name="captain" required ng-model="captainId" ng-blur=updateCaptain(captainId) ng-change="updateCaptain(captainId)">
                                                        <option ng-model="captainId" ng-value="player.PlayerId"
                                                        ng-repeat="player in data.Team | orderBy:['Team']"
                                                        value="{{player.PlayerId}}">{{player.PlayerName}} ({{player.Team}})
                                                        </option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--playerlist tabel-->
                    <div class="col-md-6">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-user"></i>De spelers
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body form">

                                <div class="table-scrollable">

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td>Club:
                                                    <select ng-name="selectedTeam" required ng-model="selectedTeam">
                                                <option ng-model="team.Team" ng-repeat="team in teams"
                                                         ng-value="team.Team">
                                                    {{team.Team}}
                                                </option>
                                                <option ng-selected=true></option>

                                            </select>
                                                </td>
                                                <td>Positie:
                                                    <select ng-name="selectedPositie" required ng-model="selectedPositie">
                                                <option ng-model="positie.Position" ng-repeat="positie in playerPositions"
                                                        ng-model="positie.Position" ng-value="positie.Position">
                                                    {{positie.PositionUi}}
                                                </option>
                                                 <option ng-selected=true></option>

                                            </select>
                                                </td>
                                                <td>Naam:
                                                    <input type="text" ng-model="searchName" />
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="player in players | filter:{Position:selectedPositie} | filter:{Team:selectedTeam} | filter:{Name:searchName} | orderBy:['Team']"
                                                ng-hide="player.PreSelected">
                                                <td>
                                                    {{player.Team}}
                                                </td>

                                                <td>
                                                    {{player.Position}}
                                                </td>
                                                <td>
                                                    {{player.Name}}
                                                </td>
                                                <td>
                                                    <button ng-click="addPlayerToSelection(player)">+</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <button value="Previous" ng-click="tableView()" ng-show="showTeam">Terug</button>
        <button value="Next" ng-disabled="poulesForm.$invalid" ng-show="showTeam" ng-click="questionsView()">Volgende</button>
        </form>

        <form name="questionsForm" class="form-horizontal form-bordered" ng-show="showQuestions">
            <uib-alert type="success" ng-show="tableForm.$invalid" close="closeAlert($index)">{{questionMsg}}</uib-alert>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-user"></i>Beantwoord deze {{data.Questions.length}} vragen!
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body form">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>Vraag</td>
                                        <td>Antwoord</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="question in data.Questions">
                                        <td>
                                            {{question.Question}}
                                        </td>
                                        <td><input type="text" name="Location" required ng-model="question.Answer" />
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <button value="Previous" ng-click="teamView()" ng-show="showQuestions">Terug</button>
            <button value="Next" ng-disabled="questionsForm.$invalid" ng-click="matchesView()">Volgende
                </button>
        </form>

        <form name="matchesForm" class="form-horizontal form-bordered" ng-show="showMatches">
            <uib-alert type="success" ng-show="tableForm.$invalid" close="closeAlert($index)">{{questionMsg}}</uib-alert>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-user"></i>Voorspel de {{data.Matches.length}} wedstrijden!
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body form">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>Wedstrijd</td>
                                        <td>Thuis</td>
                                        <td>Uit</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="match in data.Matches">
                                        <td>
                                            {{match.Match}}
                                        </td>
                                        <td><input type="number" size="1" min="0" max="9" name="Home" required ng-model="match.Home"
                                            />
                                        </td>
                                        <td><input type="number" size="1" min="0" max="9" name="Away" required ng-model="match.Away"
                                            />
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <button value="Previous" ng-click="questionsView()" ng-show="showMatches">Terug</button>
            <button value="Next" ng-disabled="questionsForm.$invalid" ng-click="save()">Opslaan
                </button>
        </form>


    </div>
    <!-- END TABLE PORTLET-->
</div>
</div>


<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
            function AdvancedDatatablesDemoCtrl($scope) {
                TableAdvanced.init();
            }




</script>
<!-- END MAIN JS -->