<div ng-controller="RegisterCtrl">
    <form ng-submit="signup()" style="margin-top:30px;">
        <h3>Registreren</h3>

        <div class="form-group">
            <input type="email" class="form-control" placeholder="Emailadres" ng-model="user.name"></input>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
        </div>
        <div>
        <button type="submit" class="btn green">Registreer</button>
        {{error}}
        <a href="/#/login.html" class="green"> of login</a></div>
    </form>
</div>
