<!-- BEGIN PAGE HEADER-->
<h3 class="page-title ng-scope">
    Registratie Formulier
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/registrationform.html">Registratie Formulier</a>
        </li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="RegistrationApiController">
    <div class="col-md-12">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div ng-hide="showConfirm">
            <form name="participantForm" class="form-horizontal form-bordered" ng-show="showParticipant">
                <alert type="success" ng-show="participantForm.$invalid" close="closeAlert()">{{participantMsg}}</alert>
                <!-- BEGIN TABLE PORTLET-->
                <div class="portlet box blue-hoki">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-user"></i>Schrijf je nu in
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse" data-original-title="" title="">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <table class="table table-striped">
                            <tr>
                                <td>Naam</td>
                                <td>
                                    <input type="text" name="Name" required ng-model="data.Participant.Name"/>
                                    <br/>

                                    <div ng-show="form.$submitted || form.Name.$touched">
                                        <div ng-show="form.Name.$error.required">Wat is je naam?</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Emailadres</td>
                                <td>
                                    <input type="email" name="Email" required ng-model="data.Participant.Email"/>
                                    <br/>

                                    <div ng-show="form.$submitted || form.Email.$touched">
                                        <span ng-show="form.Email.$error.required">Wat is je emailadres?</span>
                                        <span ng-show="form.Email.$error.email">Dit is geen geldig emailadres</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Woonplaats</td>
                                <td>
                                    <input type="text" name="Location" required ng-model="data.Participant.Location"/>
                                    <br/>

                                    <div ng-show="form.$submitted || form.Location.$touched">
                                        <div ng-show="form.Location.$error.required">Wat is je woonplaats?</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td> Geslacht</td>
                                <td>
                                    <input type="radio" name="Gender" required ng-model="data.Participant.Gender"
                                           value="Man">Man
                                    <input type="radio" name="Gender" required ng-model="data.Participant.Gender"
                                           value="Vrouw">Vrouw
                                </td>
                            </tr>

                            <tr>
                                <td>Telefoon</td>
                                <td>
                                    <input type="tel" name="PhoneNumber" required
                                           ng-model="data.Participant.PhoneNumber"/>
                                    <br/>

                                    <div ng-show="form.$submitted || form.PhoneNumber.$touched">
                                        <span ng-show="form.PhoneNumber.$error.required">Wat is je telefoonnummer?</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button value="Next" ng-hide="participantForm.$invalid" ng-click="tableView()">Volgende</button>
            </form>

            <form name="tableForm" class="form-horizontal form-bordered" ng-show="showTable">
                <alert type="success" ng-show="tableForm.$invalid" close="closeAlert()">{{tableMsg}}</alert>
                <div class="row">
                    <div class="col-md-6">
                        <div class="portlet box blue-hoki">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-user"></i>Eindstand Eredivisie 2016/2017
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body form">

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <td>Positie</td>
                                        <td>Team</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="table in data.Table">

                                        <td>{{table.Position}}</td>
                                        <td>
                                            <select ng-name="SelectedTeamId" required
                                                    ng-model="SelectedTeamId"
                                                    ng-change="updateTablePrediction(SelectedTeamId,table.Position)"
                                                    >
                                                <!--ng-options="team as team.Team disable when team.Selected for (Id, team.Id) in team"-->
                                                <!--ng-options="team as (team.Team) disable when team.Selected for team in teams track by team.Id"-->
                                                <option ng-model="team" ng-value="team.Id" ng-repeat="team in teams"
                                                        ng-hide="team.Selected">{{team.Team}}
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <button value="Previous" ng-click="participantView()" ng-show="showTable">Terug</button>
                <button value="Next" ng-hide="poulesForm.$invalid" ng-click="secondRoundView()">Werkt nog niet</button>
            </form>
        </div>
        <!-- END TABLE PORTLET-->
    </div>
</div>


<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
            function AdvancedDatatablesDemoCtrl($scope) {
                TableAdvanced.init();
            }


</script>
<!-- END MAIN JS -->
