<!-- BEGIN PAGE HEADER-->
<h3 class="page-title ng-scope">
    Score formulier
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/scoreform.html">Score formulier</a>
        </li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="ScoreFormApiController">
    <div class="col-md-12">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div ng-hide="showConfirm">
            <form name="scoreForm" class="form-horizontal form-bordered">
                <!-- BEGIN TABLE PORTLET-->
                <div class="portlet box blue-hoki">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-user"></i>Scores voor ronde X
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="reload" data-original-title="" title="">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped">
                            <thead>
                            <button value="Next" ng-click="save()">Save
                                <tr>
                                    <th>
                                        Speler
                                    </th>
                                    <th>
                                        Club
                                    </th>
                                    <th>
                                        P
                                    </th>
                                    <th>
                                        W
                                    </th>
                                    <th>
                                        D
                                    </th>
                                    <th>
                                        CS
                                    </th>
                                    <th>
                                        G
                                    </th>
                                    <th>
                                        A
                                    </th>
                                    <th>
                                        OG
                                    </th>
                                    <th>
                                        Y
                                    </th>
                                    <th>
                                        R
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="player in players">
                                <td>
                                    {{ player.Name }}
                                </td>
                                <td>
                                    {{ player.Team}}
                                </td>
                                <td>
                                    <input type="checkbox" ng-model=Played></input>
                                </td>
                                <td>
                                    <input type="checkbox" ng-model=Win></input>
                                </td>
                                <td>
                                    <input type="checkbox" ng-model=Draw></input>
                                </td>
                                <td>
                                    <input type="checkbox" ng-model=CleanSheet></input>
                                </td>
                                <td>
                                    <input type="number" ng-model=Goals size="1" min="0" max="9"></input>
                                </td>
                                <td>
                                    <input type="number" ng-model=Assists size="1" min="0" max="9"> </input>
                                </td>
                                <td>
                                    <input type="number" ng-model=OwnGoal size="1" min="0" max="9">  </input>
                                </td>
                                <td>
                                    <input type="number" ng-model=Yellow size="1" min="0" max="2">  </input>
                                </td>
                                <td>
                                    <input type="number" ng-model=Red size="1" min="0" max="1"></input>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>

<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
	function AdvancedDatatablesDemoCtrl($scope) {
		TableAdvanced.init();
	}


</script>
<!-- END MAIN JS -->