<!-- BEGIN PAGE HEADER-->
<h3 class="page-title ng-scope">
    Score formulier
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb breadcrumb ng-scope">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li class="active">Score Formulier</li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="ScoreFormApiController">
    <div class="col-md-12">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
        </uib-alert>
        <uib-tabset active="active">
            <uib-tab heading="Spelers Formulier">
                <form name="newScoreForm" ng-show="showNewScoreForm" class="form-horizontal form-bordered">
                    <!-- BEGIN TABLE PORTLET-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-user"></i>Scores voor nieuwe ronde {{newScoreFormList.RoundId}}
                                <button style="color=black;color: black;" value="Save"
                                        ng-click="saveNewScoreFormList()">Save nieuwe ronde
                                </button>
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">

                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-header-fixed dataTable"
                                       id="newScoreTable">
                                    <thead>
                                    <tr>
                                        <th>
                                            Speler
                                        </th>
                                        <th>
                                            Club
                                        </th>
                                        <th>
                                            P
                                        </th>
                                        <th>
                                            W
                                        </th>
                                        <th>
                                            D
                                        </th>
                                        <th>
                                            CS
                                        </th>
                                        <th>
                                            G
                                        </th>
                                        <th>
                                            A
                                        </th>
                                        <th>
                                            OG
                                        </th>
                                        <th>
                                            Y
                                        </th>
                                        <th>
                                            R
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="player in newScoreFormList.Player | filter:{Selected:true} | orderBy:['Team']">
                                        <td>
                                            {{ player.Name }} ({{player.Position}})
                                        </td>
                                        <td>
                                            {{ player.Team}}
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-model="player.Played"
                                                   ng-value="player.Played"></input>
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-model="player.Win" ng-value="player.Win"></input>
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-model="player.Draw"
                                                   ng-value="player.Draw"></input>
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-model="player.CleanSheet"
                                                   ng-disabled="disableCleanSheat(player.Position)"
                                                   ng-value="player.CleanSheet"></input>
                                        </td>
                                        <td>
                                            <input type="number" ng-model="player.Goals" size="1" min="0" max="9"
                                                   ng-value="player.Goals"></input>
                                        </td>
                                        <td>
                                            <input type="number" ng-model="player.Assists" size="1" min="0" max="9"
                                                   ng-value="player.Assists">                                                </input>
                                        </td>
                                        <td>
                                            <input type="number" ng-model="player.OwnGoal" size="1" min="0" max="9"
                                                   ng-value="player.OwnGoal"></input>
                                        </td>
                                        <td>
                                            <input type="number" ng-model="player.Yellow" size="1" min="0" max="2"
                                                   ng-value="player.Yellow">                                                </input>
                                        </td>
                                        <td>
                                            <input type="number" ng-model="player.Red" size="1" min="0" max="1"
                                                   ng-value="player.Red"></input>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </uib-tab>

            <uib-tab heading="Vragen formulier">
                <div class="portlet-body form">
                    <form name="questionForm" class="form-horizontal form-bordered">
                        <!-- BEGIN TABLE PORTLET-->
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-user"></i>Vragen lijst invullen
                                    <button style="color=black;color: black;" value="Save"
                                            ng-click="updateVragenForm()">Save
                                    </button>
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <select style="color=black;color: black;" ng-model="selectedQuestion"
                                        ng-options="question.Id as question.Question for question in vragenScoreform.Questions | orderBy:'Id'"
                                        ng-init="selectedQuestion == selectedQuestion"
                                        ng-change="getGivenAnswersForQuestion(selectedQuestion)">
                                </select>
                                <input ng-model="vragenScoreform.Questions[selectedQuestion-1].Answer"
                                       ng-change="setAnswer(selectedQuestion)"></input>
                                <div class="table-scrollable">
                                    <table class="table table-striped table-bordered table-hover table-header-fixed dataTable">
                                        <thead>
                                        <tr>
                                            <th>
                                                Naam

                                            </th>
                                            <th>
                                                Antwoord
                                            </th>
                                            <th>
                                            </th>
                                            <th>Goed?</th>
                                            <!--<th>-->
                                            <!--Ronde-->
                                            <!--</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat-start="vraag in vragenstand">

                                        </tr>
                                        <tr ng-repeat="question in vraag.QuestionsScore"
                                            ng-if="question.Id === selectedQuestion">
                                            <td>
                                                {{vraag.Participant.Name}}
                                            </td>
                                            <td> {{question.Answer}}
                                            </td>
                                            <td>{{question.Uitslag}}</td>
                                            <td>
                                                <input type="number" ng-model="question.Score">
                                            </td>
                                        </tr>
                                        <tr ng-repeat-end></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </uib-tab>
            <uib-tab heading="Wedstrijden Formulier">
                <form name="matchesForm" class="form-horizontal form-bordered">
                    <!-- BEGIN TABLE PORTLET-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-user"></i>Wedstrijden lijst invullen
                                <button style="color=black;color: black;" value="Save"
                                        ng-click="updateWedstrijdenForm()">Save
                                </button>
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-header-fixed dataTable">
                                    <thead>
                                    <tr>
                                        <th>
                                            Wedstrijd
                                        </th>
                                        <th>
                                            Uitslag
                                        </th>
                                        <th>
                                            Ronde
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="matches in wedstrijdenScoreform.Matches">
                                        <td>
                                            {{ matches.Match }}
                                        </td>
                                        <td>
                                            <input type="number" ng-model="matches.Home"></input>-
                                            <input type="number" ng-model="matches.Away"></input>
                                        </td>
                                        <td>
                                            <input type="number" ng-model="matches.RoundId"></input>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </uib-tab>
            <uib-tab heading="Eindstand Formulier">
                <form name="matchesForm" class="form-horizontal form-bordered">
                    <!-- BEGIN TABLE PORTLET-->

                    <div class="portlet box green ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-user"></i>Eindstand Eredivisie
                                <button style="color=black;color: black;" value="Save" ng-click="saveEindstandForm()">
                                    Save

                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="mt-element-list">
                                <!--<div class="mt-list-head list-simple font-white">
                                    <div class="list-head-title-container">
                                    </div>
                                </div>-->
                                <div class="mt-list-container list-simple">
                                    <ul ui-sortable="sortableOptions" ng-model="eindstandscoreform.Table">
                                        <li ng-repeat="team in eindstandscoreform.Table"
                                            class="mt-list-item draggablePointer">
                                            {{$index+1}} {{team.SelectedTeam}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </uib-tab>
            <uib-tab heading="Vorige rondes">
                <form name="oldScoreForm" class="form-horizontal form-bordered">
                    <!-- BEGIN TABLE PORTLET-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                Kies een ronde
                                <select style="color=black;color: black;" ng-model="selectedRound"
                                        ng-options="round.RoundId as round.RoundId for round in rounds | orderBy:'-RoundId'"
                                        ng-init="selectedRound == selectedRound"
                                        ng-change="getscoreformbyroundid(selectedRound)">
                                </select>
                                <i class="fa fa-user"></i>
                                <button style="color=black;color: black;" value="Save" ng-click="updateScoreForm()">Save
                                    ronde {{oldScoreForms.RoundId}}
                                </button>
                                <button style="color=black;color: black;" ng-click="pushNotification()">stuur push
                                </button>
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-header-fixed dataTable"
                                       id="newScoreTable">
                                    <thead>
                                    <tr>
                                        <th>
                                            Speler
                                        </th>
                                        <th>
                                            Club
                                        </th>
                                        <th>
                                            P
                                        </th>
                                        <th>
                                            W
                                        </th>
                                        <th>
                                            D
                                        </th>
                                        <th>
                                            CS
                                        </th>
                                        <th>
                                            G
                                        </th>
                                        <th>
                                            A
                                        </th>
                                        <th>
                                            OG
                                        </th>
                                        <th>
                                            Y
                                        </th>
                                        <th>
                                            R
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="player in oldScoreForms.Player | filter:{Selected:true} | orderBy:['Team']">
                                        <td>
                                            {{ player.Name }} ({{player.Position}})
                                        </td>
                                        <td>
                                            {{ player.Team}}
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-model="player.Played"
                                                   ng-value="player.Played"></input>
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-model="player.Win" ng-value="player.Win"></input>
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-model="player.Draw"
                                                   ng-value="player.Draw"></input>
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-model="player.CleanSheet"
                                                   ng-disabled="disableCleanSheat(player.Position)"
                                                   ng-value="player.CleanSheet"></input>
                                        </td>
                                        <td>
                                            <input type="number" ng-model="player.Goals" size="1" min="0" max="9"
                                                   ng-value="player.Goals"></input>
                                        </td>
                                        <td>
                                            <input type="number" ng-model="player.Assists" size="1" min="0" max="9"
                                                   ng-value="player.Assists">                                                </input>
                                        </td>
                                        <td>
                                            <input type="number" ng-model="player.OwnGoal" size="1" min="0" max="9"
                                                   ng-value="player.OwnGoal"></input>
                                        </td>
                                        <td>
                                            <input type="number" ng-model="player.Yellow" size="1" min="0" max="2"
                                                   ng-value="player.Yellow">                                                </input>
                                        </td>
                                        <td>
                                            <input type="number" ng-model="player.Red" size="1" min="0" max="1"
                                                   ng-value="player.Red"></input>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </uib-tab>
        </uib-tabset>
    </div>

    <!-- END MAIN CONTENT -->
    <!-- BEGIN MAIN JS -->
    <script>
        function AdvancedDatatablesDemoCtrl($scope) {
            TableAdvanced.init();
        }


    </script>
    <!-- END MAIN JS -->