<!-- BEGIN PAGE HEADER-->
<h3 class="page-title ng-scope">
    Hall of Fame
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb breadcrumb ng-scope">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li class="active"> Hall Of Fame</li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bar-chart"></i> Spelregels en puntentelling
                </div>
                <div class="tools">
                </div>
            </div>

            <div class="portlet-body">

                    <br>
                    Super 11 is een voetbalspel waarbij een door jouw gekozen team (jouw Super 11) punten scoort door hun verrichtingen in de Eredivisie seizoen 2016-2017.
                    <br><br>
                    Je maakt eerst een keuze uit de volgende 3 spelsystemen. 1-4-3-3, 1-4-4-2 of 1-3-4-3. Afhankelijk van welk spelsysteem je gekozen hebt selecteer je jouw team. Een team bestaat uit 11 spelers van 11 verschillende clubs uit de Eredivisie. Van elke club mag er maximaal 1 speler geselecteerd worden. Er zijn dus 11 clubs die je gebruikt, en 7 clubs die je niet gebruikt.
                    <br><br>
                    Kies binnen jouw team één speler die je aanvoerder maakt. Je aanvoerder verdiend (mits hij speelt) elke speelronde dubbele punten. Echter tellen strafpunten ook dubbel.
                    <br><br>
                    In de winterstop is er een transferperiode en mag je het volledige elftal wijzigen, ook je gekozen spelsysteem mag je wijzigen. Tot aan de winterstop speel je dus met je eerste Super 11.
                    <br><br>
                <table class="table">
                    <tr>
                        <td>Puntentelling</td>
                        <td>K</td>
                        <td>V</td>
                        <td>M</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>Gespeelde wedstrijd</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td> Winst team</td>
                        <td>3</td>
                        <td>3</td>
                        <td>3</td>
                        <td>3</td>
                    </tr><tr>
                    <td>Gelijkspel team</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr><tr>
                    <td>Doelpunt</td>
                    <td>10</td>
                    <td>7</td>
                    <td>5</td>
                    <td>3</td>
                </tr><tr>
                    <td>Assist</td>
                    <td>8</td>
                    <td>5</td>
                    <td>3</td>
                    <td>2</td>
                </tr><tr>
                    <td>Team hodt de nul</td>
                    <td>4</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                </tr><tr>
                    <td>Eigen doelpunt</td>
                    <td>-4</td>
                    <td>-4</td>
                    <td>-4</td>
                    <td>-4</td>
                </tr><tr>
                    <td>Gele kaart</td>
                    <td>-2</td>
                    <td>-2</td>
                    <td>-2</td>
                    <td>-2</td>
                </tr><tr>
                    <td>2x geel (is rood)</td>
                    <td>-6</td>
                    <td>-6</td>
                    <td>-6</td>
                    <td>-6</td>
                </tr><tr>
                    <td>Rode kaart (direct)</td>
                    <td>-6</td>
                    <td>-6</td>
                    <td>-6</td>
                    <td>-6</td>
                </tr>
                </table>
                <br><br>
                    Al speelt een speler maar 1 minuut, dan nog geldt de puntentelling.
                    Als een speler eerst geel krijgt, en daarna direct rood telt dit dus uiteraard voor – 8
                    Als een rode kaart na tv beelden wordt ingetrokken, blijft de rode kaart voor de
                    puntentelling toch staan.
                    Wanneer een speler door tv beelden wordt geschorst, geldt dit niet als een rode kaart, en
                    volgt er geen puntenaftrek.
                    Gegevens voor de puntentelling, worden verkregen via de statistieken van Fox Sports.
                    Bij evt. twijfels, beslist de organisatie. Hierover kan niet gecorrespondeerd of gediscussieerd
                    worden.
                    <br><br>
                    Naast de spelers van jouw Super 11 team kun je ook punten verdienen met de eindstand van de Eredivisie, diverse bonusvragen
                    en het voorspellen van uitslagen van een aantal wedstrijden.
                    <br><br>
                <table class="table">
<tr> <td>Eindstand eredivise </td><td>Punten</td></tr>
                    <tr><td>Club op juiste plek</td><td>10</td></tr>
                    <tr><td>1 plek verschil</td><td>3</td></tr>
                    <tr><td>2 plekken verschil</td><td>1</td></tr>
                    <tr><td>Kampioen goed</td><td>10</td>
                </table>
                    <br><br>
                <table class="table">
                    <tr> <td>Bonusvragen
                        Per goed antwoord</td><td>20</td></tr>
                    <tr> <td>Uitslagen wedstrijden
                         goed	</td><td>10</td></tr>
                    <tr> <td>Alleen toto wedstrijden
                         goed (1X2	</td><td>3</td></tr>
                </table>

                    <br><br>
                    We spelen mee vanaf speelronde 5 (weekend van 10 en 11 september 2016), dit geldt dus ook voor sommige bonusvragen.
                    <br><br>
                    Inleg is € 10,- , hiervan gaat 90% naar de prijzenpot. De verdeling van de prijzenpot zal kort na de start bekend gemaakt worden.
                    <br><br>
                    Je deelname dient uiterlijk zaterdag 10 september 2016 om 18.30 uur ingestuurd te zijn. De inleg kan worden overgemaakt naar NL23 ABNA 0412 1192 93 tnv RLL Verberkt met de omschrijving Super 11.
                    <br><br>
                    Veel succes!

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
	function AdvancedDatatablesDemoCtrl($scope) {
		TableAdvanced.init();
	}

</script>
<!-- END MAIN JS -->