<!-- BEGIN PAGE HEADER-->
<div ng-controller="TeamTableApiController">
    <h3 class="page-title ng-scope">
        Super 11 Stand
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb breadcrumb ng-scope">
            <li>
                <a href="#/dashboard.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">Stand</li>
        </ul>
        <div class="page-toolbar">
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT -->

    <div class="row">
        <!-- The actual modal template, just a bit o bootstrap -->
        <!--MODAL WINDOW-->
        <script type="text/ng-template" id="totalstandmodal.html">
                    <div class="modal-header">
                         <button type="button" class="close" ng-click=close()>&times;</button>
                        <h4>{{score.Name}} staat {{score.Positie}}e met {{score.TotalScore}} punten.</h4>
                        <h5>Team: {{score.TotalTeamScore}} - 
                            Wedstrijden: {{score.TotalMatchesScore}} - 
                            Vragen: {{score.TotalQuestionsScore}}
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="table-scrollable">
                                <table class="table table-striped">
                               <thead><tr>
                                        <th colspan="2"> Naam</th>
                                        <th> Gespeeld</th>
                                        <th> Winst</th>
                                        <th> Gelijk</th>
                                        <th> de 0</th>
                                        <th> Doelpunt</th>
                                        <th> Eigen Goal</th>
                                        <th> Assist</th>
                                        <th> Geel</th>
                                        <th> Rood</th>
                                        <th> Totaal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr
                                        ng-repeat="player in score.TeamScores | orderBy :'Id'">
                                        <td>
                                            <img class="clubicon" ng-src="clubicons/{{player.Team}}.png"></td>
                                            <td> {{player.Position}} {{player.Name}}
                                            <span ng-if="player.Captain">(C)</span>
                                        </td>
                                        <td> {{player.Played}}</td>
                                        <td> {{player.Won}}</td>
                                        <td> {{player.Draw}}</td>
                                        <td> {{player.CleanSheetScore}}</td>
                                        <td> {{player.Goals}}</td>
                                        <td> {{player.OwnGoals}}</td>
                                        <td> {{player.Assist}}</td>
                                        <td> {{player.YellowCard}}</td>
                                        <td> {{player.RedCard}}</td>
                                        <td> {{player.TotalScore}}</td>
                                    </tr>
                                    </tbody>
                           </table>
                           </div>

                    </div>
                    <div class="modal-footer">

                    </div>
                </script>

        <script type="text/ng-template" id="teamstandmodal.html">
                    <div class="modal-header">
                         <button type="button" class="close" ng-click=close()>&times;</button>
                        <h4>In ronde {{score.RoundId}} scoort het team van {{score.Participant.Name}} {{score.TotalTeamScore}} punten.</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-scrollable">
                                <table class="table table-striped">
                               <thead><tr>
                                        <th  colspan="2"> Naam</th>
                                        <th> Gespeeld</th>
                                        <th> Winst</th>
                                        <th> Gelijk</th>
                                        <th> de 0</th>
                                        <th> Doelpunt</th>
                                        <th> Eigen Goal</th>
                                        <th> Assist</th>
                                        <th> Geel</th>
                                        <th> Rood</th>
                                        <th> Totaal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr
                                        ng-repeat="player in score.TeamScores | orderBy :'Id'">
                                        <td> 
                                            <img class="clubicon" ng-src="clubicons/{{player.Team}}.png"> 
                                            </td><td>{{player.Position}} {{player.Name}}
                                            <span ng-if="player.Captain">(C)</span>                                            
                                        </td>
                                        <td> {{player.Played}}</td>
                                        <td> {{player.Won}}</td>
                                        <td> {{player.Draw}}</td>
                                        <td> {{player.CleanSheetScore}}</td>
                                        <td> {{player.Goals}}</td>
                                        <td> {{player.OwnGoals}}</td>
                                        <td> {{player.Assist}}</td>
                                        <td> {{player.YellowCard}}</td>
                                        <td> {{player.RedCard}}</td>
                                        <td> {{player.TotalScore}}</td>
                                    </tr>
                                    </tbody>
                           </table>
                           </div>

                    </div>
                    <div class="modal-footer">

                    </div>
                </script>

        <script type="text/ng-template" id="wedstrijdenstandmodal.html">
                    <div class="modal-header">
                         <button type="button" class="close" ng-click=close()>&times;</button>
                        <h4>{{score.Participant.Name}} heeft {{score.TotalMatchesScore}} punten voor de wedstrijden.</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-scrollable">
                                <table class="table table-striped">
                               <thead>
                                  <tr>
                                            <th> Wedstrijd</th>
                                            <th> Voorspelling</th>
                                            <th> Uitslag</th>
                                            <th> Score</th>
                                        </tr>
                                        <tr ng-repeat="wedstrijd in score.MatchesScore | orderBy :'Id'">
                                            <td> {{wedstrijd.Match}}</td>
                                            <td> {{wedstrijd.Home}} - {{wedstrijd.Away}}</td>
                                            <td> {{wedstrijd.Uitslag}}</td>
                                            <td> {{wedstrijd.Score}}</td>
                                        </tr>
                                    </tbody>
                           </table>
                           </div>

                    </div>
                    <div class="modal-footer">

                    </div>
                </script>



        <script type="text/ng-template" id="vragenstandmodal.html">
                    <div class="modal-header">
                         <button type="button" class="close" ng-click=close()>&times;</button>
                        <h4>{{score.Participant.Name}} heeft {{score.TotalQuestionsScore}} punten voor de vragen.</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-scrollable">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th> Vraag</th>
                                            <th> Voorspelling</th>
                                            <th> Antwoord</th>
                                            <th> Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="vragen in score.QuestionsScore | filter:{Uitslag:''} | orderBy :'Id'">
                                            <td> {{vragen.Question}}</td>
                                            <td> {{vragen.Answer}}</td>
                                            <td> {{vragen.Uitslag}}</td>
                                            <td> {{vragen.Score}}</td>
                                        </tr>
                                    </tbody>
                           </table>
                           </div>

                    </div>
                    <div class="modal-footer">

                    </div>
                </script>

        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <uib-tabset active="active">
                <uib-tab heading="Totaal">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa"></i>
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="table-scrollable">
                                <table class="table table-striped">
                                    <thead>
                                        <tr><td></th>
                                            <th>#</th>
                                            <th>
                                                Naam
                                            </th>
                                            <th>
                                                Totaal Score
                                            </th>
                                            <th>Totaal Team</th>
                                            <th>Totaal Wedstrijden</th>
                                            <th>Totaal Vragen</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="table in newTotalTeamTable">
                                            <td>
                                                <span class="fa fa-long-arrow-up" ng-if="table.Positie < table.previousPositie"></span>
                                                <span class="fa fa-long-arrow-down" ng-if="table.Positie > table.previousPositie"></span>
                                                <span class="fa fa-minus" ng-if="table.Positie === table.previousPositie"></span>     
                                               </td><td> {{table.Positie}} <span ng-if="table.deltaPositie" class="previousScore">
                                                   ({{table.deltaPositie > 0 ? '+' : ''}}{{table.deltaPositie}})</span>
                                            </td>
                                            <td ng-click="showTotalTeamStandModel(table)">
                                                <a href="#"> {{ table.Name}}</a> 
                                            </td>
                                            <td>
                                                {{table.TotalScore}}
                                             <span ng-if="table.deltaTotalscore" class="previousScore">   
                                                 ({{table.deltaTotalscore > 0 ? '+' : ''}}{{table.deltaTotalscore}})
                                                 </span>
                                            </td>
                                            <td>
                                                {{table.TotalTeamScore}}
                                            <span ng-if="table.deltaTotalTeamScore" class="previousScore">   
                                                 ({{table.deltaTotalTeamScore > 0 ? '+' : ''}}{{table.deltaTotalTeamScore}})</span>
                                                
                                            </td>
                                            <td>
                                                {{table.TotalMatchesScore}}
                                             <span ng-if="table.deltaTotalMatchesScore" class="previousScore"> 
                                                    ({{table.deltaTotalMatchesScore > 0 ? '+' : ''}}{{table.deltaTotalMatchesScore}})</span>
                                                
                                            </td>
                                            <td>
                                                {{table.TotalQuestionsScore}}
                                            <span ng-if="table.deltaTotalQuestionsScore" class="previousScore">    
                                                 ({{table.deltaTotalQuestionsScore > 0 ? '+' : ''}}{{table.deltaTotalQuestionsScore}}) </span>
                                                
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Team">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                Kies een ronde
                                <select style="color=black;color: black;" ng-model="selectedRound" ng-options="round.RoundId as round.RoundId for round in rounds | orderBy:'-RoundId'"
                                    ng-init="selectedRound == selectedRound" ng-change="getnewround(selectedRound)">
                                </select>
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="table-scrollable">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>
                                                Naam
                                            </th>
                                            <th>
                                                Totaal Score
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="table in teamTable">

                                            <td ng-model="position" ng-value="$index+1" ng-if="table.TotalTeamScore !== teamTable[$index-1].TotalTeamScore">
                                                {{$index +1}}
                                            </td>
                                            <td ng-model="position" ng-value="teamTable[$index-1].position" ng-if="table.TotalTeamScore === teamTable[$index-1].TotalTeamScore">
                                                <span ng-bind="position"> </span> {{teamTable[$index-1].position}}
                                            </td>

                                            <td>
                                                <a href="#" ng-click="showTeamStand(table)">
                                            {{ table.Participant.Name}}</a>
                                            </td>
                                            <td>
                                                {{table.TotalTeamScore}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Wedstrijden">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="table-scrollable">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>
                                                Naam
                                            </th>
                                            <th>
                                                Totaal Score
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="regel in wedstrijdenstand">
                                            <td ng-model="position" ng-value="$index+1" ng-if="regel.TotalMatchesScore !== wedstrijdenstand[$index-1].TotalMatchesScore">
                                                {{$index +1}}
                                            </td>
                                            <td ng-model="position" ng-value="wedstrijdenstand[$index-1].position" ng-if="regel.TotalMatchesScore === wedstrijdenstand[$index-1].TotalMatchesScore">
                                                <span ng-bind="position"> </span> {{wedstrijdenstand[$index-1].position}}
                                            </td>
                                            <td>
                                                <a href="#" ng-click="showWedstrijdenStandModel(regel)">{{ regel.Participant.Name}}</a>
                                            </td>
                                            <td>
                                                {{regel.TotalMatchesScore}}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Vragen">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="table-scrollable">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>
                                                Naam
                                            </th>
                                            <th>
                                                Totaal Score
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="regel in vragenstand">
                                            <td ng-model="position" ng-value="$index+1" ng-if="regel.TotalQuestionsScore !== vragenstand[$index-1].TotalQuestionsScore">
                                                {{$index +1}}
                                            </td>
                                            <td ng-model="position" ng-value="vragenstand[$index-1].position" ng-if="regel.TotalQuestionsScore === vragenstand[$index-1].TotalQuestionsScore">
                                                <span ng-bind="position"> </span> {{vragenstand[$index-1].position}}
                                            </td>
                                            <td>

                                                <a href="#" ng-click="showVragenStandModel(regel)">{{ regel.Participant.Name}}</a>
                                            </td>
                                            <td>
                                                {{regel.TotalQuestionsScore}}
                                            </td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
    <!-- END MAIN CONTENT -->
    <!-- BEGIN MAIN JS -->
    <script>
	function AdvancedDatatablesDemoCtrl($scope) {
		TableAdvanced.init();
	}


</script>
    <!-- END MAIN JS -->