<!-- BEGIN PAGE HEADER-->
<div ng-controller="StatistiekenApiController">
    <h3 class="page-title ng-scope">
        Statistieken
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb breadcrumb ng-scope">
            <li>
                <a href="#/dashboard.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">Statistieken</li>
        </ul>
        <div class="page-toolbar">
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT -->
    <div class="note note-success note-bordered" ng-if="gekozenspelers.length === 0">
        <h3>Welkom bij Super 11<span data-close="note"></span></h3>
        <p> Na de deadline komt hier een overzicht van de gekozen spelers voor dit seizoen.</p>
    </div>
    <div class="row" ng-if="gekozenspelers.length > 0">

        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <uib-tabset active="active">
                <uib-tab heading="Gekozen spelers">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa"></i>
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="table-scrollable">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th>
                                                Naam
                                            </th>
                                            <th>
                                                Aantal x gekozen
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="gekozenspeler in gekozenspelers">
                                            <td>{{gekozenspeler.PlayerName}}</td>
                                            <td>
                                             {{ gekozenspeler.Count}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>

            </uib-tabset>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
    <!-- END MAIN CONTENT -->
    <!-- BEGIN MAIN JS -->
    <script>
	function AdvancedDatatablesDemoCtrl($scope) {
		TableAdvanced.init();
	}


</script>
    <!-- END MAIN JS -->