<!-- BEGIN PAGE HEADER-->
<div ng-controller="TeamTableApiController">
    <h3 class="page-title ng-scope">
        Super 11 Stand
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb breadcrumb ng-scope">
            <li>
                <a href="#/dashboard.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">Stand</li>
        </ul>
        <div class="page-toolbar">
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <uib-tabset active="active">
                <uib-tab heading="Totaal stand">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=></i>
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-scrollable">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Positie</th>
                                        <th>
                                            Naam
                                        </th>
                                        <th>
                                            Totaal Team
                                        </th>
                                        <th>Totaal Vragen</th>
                                        <th>Totaal Wedstrijden</th>
                                        <th>Totaal</th>
                                        
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat-start="table in totalTeamTable | orderBy:'-TotalTeamScore'">
                                        <td>{{$index + 1}}</td>
                                        <td>
                                            <button ng-if="table.expanded" ng-click="table.expanded = false">-</button>
                                            <button ng-if="!table.expanded" ng-click="table.expanded = true">+</button> {{
                                            table.Name}}
                                        </td>
                                        <td>
                                            {{table.TotalTeamScore}}
                                        </td>
                                         <td>
                                            {{table.TotalQuestionsScore}}
                                        </td>
                                         <td>
                                            {{table.TotalMatchesScore}}
                                        </td>
                                        <td>
                                            {{table.TotalScore}}
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        
                                    </tr>
                                    <tr ng-if="table.expanded">
                                        <th> Naam</th>
                                        <th> Gespeeld</th>
                                        <th> Winst</th>
                                        <th> Gelijk</th>
                                        <th> de 0</th>
                                        <th> Doelpunt</th>
                                        <th> Eigen Goal</th>
                                        <th> Assist</th>
                                        <th> Geel</th>
                                        <th> Rood</th>
                                        <th> Totaal</th>
                                    </tr>
                                    <tr ng-repeat-end ng-if="table.expanded" ng-repeat="player in table.TeamScores | orderBy :'Id'">
                                        <td> {{player.Name}}</td>
                                        <td> {{player.Played}}</td>
                                        <td> {{player.Won}}</td>
                                        <td> {{player.Draw}}</td>
                                        <td> {{player.CleanSheetScore}}</td>
                                        <td> {{player.Goals}}</td>
                                        <td> {{player.OwnGoals}}</td>
                                        <td> {{player.Assist}}</td>
                                        <td> {{player.YellowCard}}</td>
                                        <td> {{player.RedCard}}</td>
                                        <td> {{player.TotalScore}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Ronde stand">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=></i>
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-scrollable"> 
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Naam
                                        </th>
                                        <th>
                                            Totaal score
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat-start="table in teamTable | orderBy:'-TotalTeamScore'">
                                        <td>
                                            <button ng-if="table.expanded" ng-click="table.expanded = false">-</button>
                                            <button ng-if="!table.expanded" ng-click="table.expanded = true">+</button> {{
                                            table.Participant.Name}}
                                        </td>
                                        <td>
                                            {{table.TotalTeamScore}}
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr ng-if="table.expanded">
                                        <th> Naam</th>
                                        <th> Gespeeld</th>
                                        <th> Winst</th>
                                        <th> Gelijk</th>
                                        <th> de 0</th>
                                        <th> Doelpunt</th>
                                        <th> Assist</th>
                                        <th> Geel</th>
                                        <th> Rood</th>
                                        <th> Totaal</th>
                                    </tr>
                                    <tr ng-repeat-end ng-if="table.expanded" ng-repeat="player in table.TeamScores | orderBy :'player.Id' ">
                                        <td> {{player.Name}}</td>
                                        <td> {{player.Played}}</td>
                                        <td> {{player.Won}}</td>
                                        <td> {{player.Draw}}</td>
                                        <td> {{player.CleanSheetScore}}</td>
                                        <td> {{player.Goals}}</td>
                                        <td> {{player.Assist}}</td>
                                        <td> {{player.YellowCard}}</td>
                                        <td> {{player.RedCard}}</td>
                                        <td> {{player.TotalScore}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </tbody>
                            </table>
                        </div> 
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
                <!-- END EXAMPLE TABLE PORTLET-->
                </div>
        </div>
        <!-- END MAIN CONTENT -->
        <!-- BEGIN MAIN JS -->
        <script>
	function AdvancedDatatablesDemoCtrl($scope) {
		TableAdvanced.init();
	}

</script>
        <!-- END MAIN JS -->