<!-- BEGIN PAGE HEADER-->
<h3 class="page-title ng-scope">
    Transferperiode
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb breadcrumb ng-scope">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li class="active">Transferperiode</li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div id="contentPage" class="row" ng-controller="TransferApiController">
    <div class="col-md-12">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
        </uib-alert>


        <div ng-show=!isAuthenticated>
            <div class="note note-danger note-bordered">
                <h4> Je moet ingelogd zijn om een transfer door te voeren. Klik rechtsboven op inloggen.<br>
                    Mocht je nog geen nieuw account hebben aangemaakt, dan klik je ook op inloggen en dan de tab sign
                    <br><br><br>
                    Veel plezier na de winterstop!<br><br>

                    Werner
                </h4>
            </div>
        </div>

        <div ng-if="!istransfermarktopen && isAuthenticated">
            <div class="note note-danger note-bordered">
                <h4> Momenteel is de transfermarkt gesloten. De transfermarkt is geopend vanaf 25 december tot en met 2
                    december.
                    In weekenden dat er gevoetbald wordt is de transfermarkt dicht van vrijdag 18:00 tot en met zondag.
                  </h4>
            </div>
        </div>

        <div ng-if="istransfermarktopen && isAuthenticated">
            <div class="note note-success note-bordered">
                <h3>Jouw Super11<span data-close="note"></span></h3>
                <p>
                    Tot 2 februari 18:00 kun je onbeperkt wijzigingen doorvoeren.
                    <p>
            </div>
            <form name="teamForm" class="form-horizontal form-bordered">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-user"></i>Kies je team
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body form">

                                <div class="table-scrollable">

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td>Formatie:
                                                    <select ng-name="selectedFormation" required ng-model="selectedFormation" ng-change="setFormation(selectedFormation)">
                                                <option ng-model="formations" ng-repeat="formation in formations"
                                                        ng-value="formation.Formation" value="{{formation.Formation}}" >
                                                    {{formation.Formation}}
                                                </option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="pos in playerPositions">
                                            <tr>
                                                <td> {{pos.PositionUi}}</td>
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="player in data.Team | filter : {Position:pos.Position}">
                                                <td><button class="btn green" ng-if="player.PlayerName != ''" ng-click="removeplayerfromteam(player)">-</button> <span ng-if="player.PlayerName == ''"> Kies een {{pos.PositionUi}}</span>                                                    {{player.PlayerName}} ({{player.Team}})
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td>Captain:
                                                    <select ng-name="captain" required ng-model="captainId" ng-blur=updateCaptain(captainId) ng-change="updateCaptain(captainId)">
                                                        <option ng-model="captainId" ng-value="player.PlayerId"
                                                        ng-repeat="player in data.Team | orderBy:['Team']"
                                                        value="{{player.PlayerId}}">{{player.PlayerName}} ({{player.Team}})
                                                        </option>
                                                    </select>
                                                </td>
                                            </tr>
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <button class="btn green" value="Previous" ng-click="save()">Save</button>
                    </div>

                    <!--playerlist tabel-->
                    <div class="col-md-6">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-user"></i>Spelerslijst
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body form">

                                <div class="table-scrollable">

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td>Club:
                                                    <select ng-name="selectedTeam" required ng-model="selectedTeam">
                                                <option ng-model="team.Team" ng-repeat="team in teams | filter:{Selected:false}"
                                                         ng-value="team.Team">
                                                    {{team.Team}}
                                                </option>
                                                <option ng-selected=true></option>

                                            </select>
                                                </td>
                                                <td>Positie:
                                                    <select ng-name="selectedPositie" required ng-model="selectedPositie">
                                                <option ng-model="positie.Position" ng-repeat="positie in playerPositions"
                                                        ng-model="positie.Position" ng-value="positie.Position">
                                                    {{positie.PositionUi}}
                                                </option>
                                                 <option ng-selected=true></option>

                                            </select>
                                                </td>
                                                <td>Naam:
                                                    <input type="text" ng-model="searchName" />
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="player in players | filter:{Position:selectedPositie} | filter:{Team:selectedTeam} | filter:{Name:searchName} | orderBy:['Team','PositionSort','Name']"
                                                ng-hide="player.PreSelected">
                                                <td>
                                                    <button class="btn green" ng-click="addPlayerToSelection(player)">+</button>                                                    {{player.Name}} ({{player.Position}})
                                                </td>
                                                <td>
                                                    {{player.Team}}
                                                </td>

                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <!-- END TABLE PORTLET-->
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
            function AdvancedDatatablesDemoCtrl($scope) {
                TableAdvanced.init();
            }
</script>
<!-- END MAIN JS -->