/*!* here you can put your own css to customize and override the theme *!*/
/*.nav-tabs {*/
/*margin-bottom: 0px !important ; */
/*}*/

/*!*color: #32c5d2;*!*/

/*.page-logo {*/
/*color: #97bf12;*/
/*}*/

/*a {*/
/*color: #97bf12;*/
/*}*/

/*a:hover {*/
/*cursor: pointer;*/
/*color: #97bf12;*/
/*}*/

/*.modal .modal-header{*/
/*background-color: #97bf12;*/
/*color: white;*/
/*}*/

/*.modal .modal-footer{*/
/*background-color: #97bf12;*/
/*color: white;*/
/*}*/

/*!*.page-prefooter {*!*/
/*!*background: #162459;*!*/
/*!*color: #a2abb7;*!*/
/*!*}*!*/

/*.previousScore  .fa-minus {*/
/*color: #9eacb4;*/
/*}*/

/*.fa-long-arrow-up{*/
/*color: limegreen;*/
/*}*/

/*.fa-long-arrow-down{*/
/*color: red;*/
/*}*/

