<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
    <div class="container">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a class="font-green" href="/#/login.html">
                <h2>Super 11</h2>
            </a>

            <!--<a href="#/dashboard.html">-->
            <!--<img src="{{settings.layoutPath}}/img/logo-default.jpg" alt="logo" class="logo-default">-->
            <!--</a>-->
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler"></a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <button ng-if="isLoggedIn()" type="button" class="btn green" ng-click="logout()">Logout</button>
                    <button ng-hide="isLoggedIn()" type="button" class="btn green" ng-click="navigateTo('/#/login.html')">Login</button>
                    <!--<button ng-hide="isLoggedIn()" type="button" class="btn green" ng-click="navigateTo('/#/registreer.html')">Registreer</button>-->
                </li>
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
    <div class="container">

        <!-- BEGIN HEADER SEARCH BOX -->
        <!--<form class="search-form" action="extra_search.html" method="GET">-->
        <!--<div class="input-group">-->
        <!--<input type="text" class="form-control" placeholder="Search" name="query">-->
        <!--<span class="input-group-btn">-->
        <!--<a href="javascript:;" class="btn submit">-->
        <!--<i class="icon-magnifier"></i>-->
        <!--</a>-->
        <!--</span>-->
        <!--</div>-->
        <!--</form>-->
        <!-- END HEADER SEARCH BOX -->
        <!-- BEGIN MEGA MENU -->
        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
        <!-- DOC: Remove dropdown-menu-hover and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
        <div class="hor-menu">
            <ul class="nav navbar-nav">
                <li class="start">
                    <a href="#/dashboard.html">
                        <i class="icon-home"></i>
                        <span class="title">Home</span>
                    </a>
                </li>
                <!--<li>
                    <a href="#/registration.html" id="sidebar_menu_link_registration">
                        <i class="icon-puzzle"></i>
                        <span class="title">Inschrijven</span>
                    </a>
                </li>-->
                <li>
                    <a href="#/standen.html" id="sidebar_menu_link_standen">
                        <i class="icon-graph"></i>
                        <span class="title">Stand</span>
                    </a>
                </li>
                <li>
                    <a href="#/participants.html" id="sidebar_menu_link_participant">
                        <i class="icon-users"></i>
                        <span class="title">Deelnemers</span>
                    </a>
                </li>
                <li>
                    <a href="#/spelregels.html" id="sidebar_menu_link_spelregels">
                        <i class="icon-puzzle"></i>
                        <span class="title">Spelregels</span>
                    </a>
                </li>
                <li>
                    <a href="#/statistieken.html" id="sidebar_menu_link_statistieken">
                        <i class="icon-bar-chart"></i>
                        <span class="title">Statistieken</span>
                    </a>
                </li>
                <li>
                <a href="#/halloffame.html" id="sidebar_menu_link_halloffame">
                    <i class="icon-badge"></i>
                    <span class="title">Hall of Fame</span>
                </a>
            </li>
                <!--<li>
                    <a href="#/predictions.html" id="sidebar_menu_link_prediction">
                        <i class="icon-puzzle"></i>
                        <span class="title">Voorspellingen</span>
                    </a>
                </li>-->
                <!--<li>
                    <a href="#/headlines.html" id="sidebar_menu_link_scoreform">
                        <i class="icon-puzzle"></i>
                        <span class="title">Headlines</span>
                    </a>
                </li>-->
            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
<!-- END HEADER MENU -->